@page
@model BogusProperGenderEntityWeb.Pages.AboutModel
@{
}

<div class="nine mt-3">
    <h1>Code sample<span> about page</span></h1>
</div>

<div class="container border border-dark border-1 mt-4">
    <div class="row">

        <div style="background-color: #0f506f" class="text-white text-center p-2">
            TODO
        </div>

    </div>
</div>

<div class="card mt-4 mb-4 bg-light">
    <div class="card-body">
        <h2 class="card-title">About</h2>
        <p class="card-text">
            TODO
        </p>
    </div>
</div>