@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="nine mt-3">
    <h1>Code sample<span> Bogus</span></h1>
</div>

<div class="container border border-dark border-1 mt-4">
    <main>
        <div class="row">
            <div class="bg-success text-white text-center p-2 shadow-lg">
                TODO
            </div>
        </div>
    </main>
</div>
