@page
@model HasQueryFilterRazorApp.Pages.Index1Model
@{
}

<form method="post">
    <div class="row mt-2">
        <input type="submit" class="btn btn-primary" value="submit" style="width: 130px;" />
    </div>
</form>