USE [MaskingDatabase]
GO
/****** Object:  Table [dbo].[Person]    Script Date: 4/26/2025 12:18:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Person](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](max) NOT NULL,
	[LastName] [nvarchar](max) NOT NULL,
	[BirthDate] [date] NOT NULL,
	[SocialSecurity] [nvarchar](max) NOT NULL,
	[CreditCard] [nvarchar](max) NULL,
 CONSTRAINT [PK_Person] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Person] ON 

INSERT [dbo].[Person] ([Id], [FirstName], [LastName], [BirthDate], [SocialSecurity], [CreditCard]) VALUES (1, N'Stefanie', N'Buckley', CAST(N'1973-11-03' AS Date), N'954064725', N'5533836984057788')
INSERT [dbo].[Person] ([Id], [FirstName], [LastName], [BirthDate], [SocialSecurity], [CreditCard]) VALUES (2, N'Sandy', N'Mc Gee', CAST(N'2002-07-12' AS Date), N'575473864', N'372844184478387')
INSERT [dbo].[Person] ([Id], [FirstName], [LastName], [BirthDate], [SocialSecurity], [CreditCard]) VALUES (3, N'Lee', N'Warren', CAST(N'2014-05-31' AS Date), N'031369009', N'372629626418020')
SET IDENTITY_INSERT [dbo].[Person] OFF
GO
USE [master]
GO
